RewriteEngine On

# If the request is not for a real file (like an image)
RewriteCond %{REQUEST_FILENAME} !-f
# And it's not for a real directory
RewriteCond %{REQUEST_FILENAME} !-d

# Send all other requests to index.php or index.html
RewriteRule ^ index.php [L]